* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #ddd894;
  }
  
  .game-container {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .sky {
    background-image: url("img/fb-game-background.png");
    width: 100%;
    height: 580px;
    position: absolute;
    background-repeat: repeat-x;
  }
  
  .counter {
    left: 45%;
    top: 50px;
    z-index: +1;
    position: absolute;
  }
  
  .bird {
    background-image: url("img/yellowbird-downflap.png");
    position: absolute;
    height: 45px;
    width: 60px;
    z-index: +2;
    left: 250px;
  }
  
  .obstacles {
    position: absolute;
    height: 580px;
    width: 500px;
  }
  
  .topObstacle {
    background-image: url("img/pipe-green.png");
    transform: rotate(180deg);
    width: 52px;
    position: absolute;
    left: 400px;
    height: 300px;
  }
  
  .bottomObstacle {
    background-image: url("img/pipe-green.png");
    width: 52px;
    position: absolute;
    left: 400px;
    bottom: 0px;
    height: 100px;
  }
  
  .ground {
    background-image: url("img/base.png");
    width: 100%;
    height: 112px;
    position: absolute;
    top: 578px;
    background-repeat: repeat-x;
    z-index: +1;
  }